<footer class="footer">
	<div class="container">
		<p class="text-muted foot-p">
			Built by <a href="https://twitter.com/sixfivebeastman" title="Email Tim Andrews" target="_blank">Tim Andrews</a> in <%= "#{Time.new.year}" %>.
		</p>
		<p class="text-muted foot-p" style="float:right;">
			<a href="https://github.com/musicmunky" title="Tim Andrews on GitHub" target="_blank">
              <%= image_tag("octocat.png", {alt: "GitHub Octocat", style:"width:40px;"}) %>
            </a>
		</p>
	</div>
</footer>
