<footer class="weather-footer">
	<div class="innerfooter tac">
		<div class="footer-content-left">
			<span>Daily weather for <span id="footerlocation"></span></span>
		</div>
		<div class="footer-content-right">
			<span>
				Powered by <a href="http://forecast.io/" class="cldclr" target="_blank">Forecast</a>
				<span id="numreqs" style="color:#CCC"></span>
			</span>
		</div>
	</div>
</footer>
