<footer class="weather-footer">
	<div class="container">
		<p class="text-muted" style="line-height:30px;float:left;margin:0px;width:75%;">
			Built by <a href="mailto:musicmunky@gmail.com" title="Email Tim Andrews">Tim Andrews</a> in <%= "#{Time.new.year}" %>.
		</p>
		<p class="text-muted" style="line-height:30px;float:right;margin:0px;width:25%;text-align:right;">
			<a href="https://github.com/musicmunky" title="Tim Andrews on GitHub" target="_blank">GITHUB</a>
		</p>
	</div>
</footer>
