<%- view_title "Welcome!" %>

<% content_for :jumbotron do %>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:20px;margin-bottom:20px;">
			<div class="picwrapper">
				<img src="/assets/cowboy.jpg" style="border-radius:95px;width:190px;" />
			</div>

			<h1 class="page-header" style="float:left;line-height:85px;padding-left:10px;border-bottom:none;">Tim Andrews</h1>
			<div class="header-wrapper">
				<p class="header_ptags">Programmer</p>
				<p class="header_ptags">Musician</p>
				<p class="header_ptags">Wine Enthusiast</p>
				<p class="header_ptags">Aspiring Mathematician</p>
			</div>
		</div>
	</div>
<% end %>

<% content_for :main do %>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Welcome!</h2>
			<% sHost = @sHost.blank? ? "" : " (<span style='font-weight:bold;'>#{@sHost}</span> perhaps?) " %>
			<p>I'm not quite sure how you got here<%= sHost.html_safe %>, but feel free to poke around and let me know if you see anything you like!</p>
			<p>Who am I?  I'm a programmer...a web developer...a software engineer...I've had several titles during my career, but the main idea is that
				I love to build things.  Web apps, mobile apps, simple, complex, MVC, Agile, whatever - as long as I'm creating I'm happy.  Writing code
				is an outlet - a medium for expressing myself creatively, while at the same time providing a platform to build things that people might
				find useful or interesting.  My code is not always pretty.  To be honest, sometimes my code looks like someone threw a "Dummies Guide
				to Javascript" into a blender and then pasted the results onto a crossword puzzle...okay that <i>might</i> be a bit of hyperbole, but you
				get the idea.</p>
			<p>At the end of the day it comes down to a love of creating - a love of making.  If I had the garage space I'd be a mechanic, and if I had the
				dexterity and tools necessary I'd be a carpenter.  Sadly my toolset is mostly virtual, and my garage space is nonexistent.  At the end of the day
				though, it's all the same to me.  Feel free to contact me if you have any questions or perhaps an interesting job opportunity.</p>
			<p>Thanks for stopping by!</p>
		</div>
	</div>
<% end %>
