<%- view_title "About" %>

<% content_for :main do %>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3 style="font-size:2.5em">About Tim</h3>
			<p class="lead">More than you ever thought you'd want to know</p>
			<h2>The Basics</h2>
			<%= render "shared/lorem" %>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h2>Amet</h2>
			<iframe width="100%" height="166" scrolling="no" frameborder="no"
					src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/302068565&amp;color=222222&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
			<%#= render "shared/lorem" %>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h2>Elit</h2><%= render "shared/short_lorem" %>
		</div>
	</div>
<% end %>
