<%- view_title "About" %>

<% content_for :main do %>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3 style="font-size:2.5em">About Tim</h3>
			<p class="lead">Here's the straight putamus about this app!</p>
			<h2>Tincidun ut</h2>
			<%= render "shared/lorem" %>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h2>Amet</h2><%= render "shared/lorem" %>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h2>Elit</h2><%= render "shared/short_lorem" %>
		</div>
	</div>
<% end %>
