.resume_heading {
	font-size:1.25em;
	font-weight:bold;
	margin-bottom:5px;
}

.resume_entry {
	padding-left:15px;
	margin-bottom:15px;
	border-bottom: 1px solid #CCC;
}

.resume_position:hover {
	background-color:#F2F2F2;
}

.resume_position {
	float: left;
	margin-bottom: 15px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right:10px;
	margin-left: -10px;
	width:100%;
}
.picwrapper {
    border-radius: 85px;
    height: 170px;
    width: 170px;
	float:left;
	margin-right:30px;
}
.header_ptags {
	text-align: right;
	margin: 0px !important;
	line-height: 42px;
	height: 42px;
}
.new_project_btn {
	float:right;
	margin-top:2px;
	padding-left:10px;
	padding-right:10px;
}

.tac {
	text-align:center;
}

.server_status_wait {
	color:#AAA;
}

.server_status_up {
	color:#5cb85c;
}

.server_status_down {
	color:#d9534f;
}

.edit_entry_btn {
	float:right;
	margin-top:2px;
	padding-left:10px;
	padding-right:10px;
}

.resume_entry:last-child { border-bottom: none; }

.nav > li > a {
	display: -webkit-inline-box;
}

.vam {
	vertical-align:middle !important;
}

.project_cell {
	line-height:2.4em !important;
	font-size:14px;
}

a {
	text-decoration:none !important;
	outline:none !important;
}

h3 {
	margin-top:0px;
	color:#666;
	border-bottom:1px solid #DDD;
	margin-bottom:10px;
	padding-bottom:10px;
	width:100%;
}

p {
	line-height:24px;
	width:100%;
	float:left;
}

ul {
	float:left;
}

.dataTables_filter input {
    background-color: #F3F3F3;
    border: none;
    text-decoration: none;
    padding: 5px 10px;
}


.btn {
/* 	min-width: 100px !important; */
}

#mainwrapper {
	position: relative;
	top: 160px;
	padding-bottom:80px;
}

.navbar-btn:hover {
	background-color:#2e6da4 !important;
}

.field {
	float: left;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    width: 50%;
}

.rails_form {
	margin-left:auto;
	margin-right:auto;
	width:600px;
	margin-top:25px;
	padding:20px;
}

.txt100 {
	width:100% !important;
	resize:none;
	border:1px solid #DDD;
}

.field > input[type="text"], input[type="password"], input[type="email"] {
    width: 50%;
	line-height:22px;
}

.actions { width:100%; float:left; }


.fl { float:left; }

.fr { float:right; }


/* begin sticky footer css */
.footer {
	position: fixed;
	bottom: 0;
	height: 70px;
	width: 100%;
	background-color: #EEE;
	z-index: 1000;
	font-size:14px;
	color:#DDD;
	line-height:30px;
	box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(0, 0, 0, 0.1)
}
/* end sticky footer css */

.w50fl { width:50%; float:left; }
.innerw50fl { width:50%; float:left; }
.w100fl { width:100%; float:left; }
.h100fl { height:100%; float:left; }

/* .container { height: auto; 	width: 100%; } */

/* table thead tr{ border:none;} */
.alert_closebtn {
	float:right;
	width:30px;
	height:26px;
	background-color:#EDDDCD;
	border:1px solid #DADADA;
	border-radius:4px;
	margin:5px;
}
.alert_content {
	width:100%;
	float:left;
}

.new_item_cell {
	float:left;
	width:100%;
	margin-top:10px;
}
.new_item_lbl {
    color: #666;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0 !important;
    padding: 5px;
    width: 100%;
}
.new_item_txt, .new_item_txtarea {
	background-color:#F3F3F3;
	border:none;
	box-shadow:0 2px 3px -2px #666;
	float:left;
	font-size:14px;
	height:36px;
	width:calc(100% - 10px);
	padding:5px;
}

.new_item_slct {
	background-color:#F3F3F3;
	border:none;
	box-shadow:0 2px 3px -2px #666;
	float:left;
	font-size:14px;
	height:36px !important;
	line-height:36px !important;
	width:100%;
	padding:5px;
}

.new_item_txtarea {
	height:120px !important;
	resize:none;
}
.new_item_btn {
	background-color: #222;
    border: medium none;
    border-radius: 2px;
    color: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: bold;
    height: 40px;
    width: 100px;
	box-shadow: 0 3px 3px -2px #666;
}
.new_item_btn:hover {
	background-color:#888;
}
.new_item_btn:active {
	box-shadow: none;
}
#new_item_header {
	background-color:#222;
	border-bottom:1px solid #888;
	border-radius:3px;
	box-shadow:0 2px 2px -2px #666;
	padding-top:3px;
}
