<!DOCTYPE html>
<html>
	<%= render partial: "shared/weather_head" %>
	<body>
		<%= render partial: "shared/weather_nav" %>
		<%= yield :weather %>
		<%= render partial: "shared/weather_foot" %>
	</body>
</html>